  <header id="header" class="site-header">
    <a class="header-mark-mobile" href="https://www.nd.edu/" title="University of Notre Dame">
      <svg width="512" height="86" aria-hidden="true"><use xlink:href="#mobile-mark"></use></svg>
      <span class="visually-hidden">University of Notre Dame</span>
    </a>
    <div class="header-group header-group--inline-xl">
      <div class="header-title">
        <a class="header-mark" href="https://www.nd.edu/"><svg width="200" height="48" aria-hidden="true"><use xlink:href="#academic-mark"></use></svg><span class="visually-hidden">University of Notre Dame</span></a>
        <div class="header-title-name">
          <p id="site-title" class="site-title"><a href="index.html" accesskey="1" title="Homepage shortcut key = 1">Physical AI and Robotics Initiative</a></p>
        </div>
      </div>
      <div class="header-nav">
        <nav id="nav-primary" class="nav-primary" aria-label="Primary">
          <div id="primary">
            <ul>
{{NAV}}
            </ul>
          </div>
        </nav>
        <div class="header-util">
          <div class="header-nav-toggle">
            <button class="btn btn--action global-menu-toggle" aria-label="Open global menu and search" aria-controls="global-menu" aria-haspopup="dialog">
              <svg class="icon-search-menu" aria-hidden="true"><use xlink:href="#icon-search-menu"></use></svg>
              <svg class="icon-search" aria-hidden="true"><use xlink:href="#icon-search"></use></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
